extends ./_layouts/master

append body-header
  .title
    span.float-left {{masterCtrl.settings.leagueName}}
    .clearfix
append body-content
  div(data-ng-view)
append body-scripts
  script(src='/js/modernizr.custom.js')
  script(src='/js/classie.js')
  script(src='/js/pathLoader.js')
  script(src='/js/main.js')