.div(data-ng-controller='Roster_Controller as rosterCtrl')
  | <script type='text/ng-template' id='playerHeader.html'>
  th.width-30 POS
  th.width-15.hidden-xs
  th Player
  th.width-40.text-center OPP
  th.width-80.text-center STATUS
  | </script>
  | <script type='text/ng-template' id='vacantBench.html'>
  td(colspan='5').text-center
    span.text-muted There are 0 players on the bench
  | </script>
  | <script type='text/ng-template' id='playerRow.html'>
  td(data-ng-if='!player.id').width-30 {{player.fantasyPosition == 'RB/WR' ? 'RW' : player.fantasyPosition}}
  td(data-ng-if='!player.id',colspan="4").text-center.text-muted
    | -- empty --
  td(data-ng-if='player.id') {{player.fantasyPosition == 'RB/WR' ? 'RW' : player.fantasyPosition}}
  td.text-center.hidden-xs(data-ng-if='player.id')
    span(data-ng-if='player.injury', title='{{player.injury.status}}')
      span(data-ng-class='player.injury.key').injury-status
        i.fa.fa-fw.fa-square
    span(data-ng-if='!player.injury', title='No Report')
      span.injury-status
        i.fa.fa-fw.fa-square
  td(data-ng-if='player.id')
    .fade-overflow-small
      .float-left.text-center
        img(data-ng-if='!!player.team',data-ng-src='/img/logos/{{player.team.toLowerCase()}}.svg').nfl-team-logo
        div(data-ng-if='!!!player.team')
      a(href='javascript:;',data-player-id='{{player.id}}', data-toggle='collapse', data-target='#player-details-{{player.id}}').float-left.mgn-left-5
        | {{player.name}}
      span.text-muted.pad-left-5.italic.float-left.hidden-xs
        span.player-position &nbsp;{{player.position}}
        span.player-team &nbsp;{{player.team}}
        span(data-ng-if='player.hasNews').pad-left-5
          i.fa.fa-comments-o
        span(data-ng-if='player.hasVideoNews').pad-left-5
          i.fa.fa-youtube-play
      .clearfix
    .collapse.out(id='player-details-{{player.id}}',data-player-id='{{player.id}}').player-details-collapse
      .media.hidden-xs
        .pull-left
          img(data-ng-src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{player.id}}.png&w=150&h=108').img-thumbnail.img-responsive.media-object.media-body
        .media-body
          .media-heading
            h4 {{player.name}} | {{player.position}} | {{player.team}}
            h5(data-ng-if='player.number') {{'#' + player.number}}
            h5(data-ng-if='player.height') {{player.height}} {{player.weight}}lbs
            h5 {{player.college}}
      .media.visible-xs
        .text-center
          img(data-ng-src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{player.id}}.png&w=150&h=108').img-thumbnail.img-responsive
          h5.bold.font-size-smaller {{player.name}} | {{player.position}} | {{player.team}}
          h6(data-ng-if='player.height') {{player.height}} {{player.weight}}lbs
      .col-xs-12(data-ng-repeat='item in player.news')
        .text-center(data-ng-if='player.showAll && $first')
          a(href='javascript:;',data-ng-click='player.showAll = !player.showAll').btn.btn-link Show less
        .pad-top-5(data-ng-class='{true:"",false:"hide"}[!!$first || !!player.showAll]')
          .italic.text-muted {{rosterCtrl.getTimeAgo(item.date)}}
          .media.mgn-top-5
            .pull-left
              i.media-object.bold News
            .media-body {{item.headline}}
          .media.mgn-top-5
            .pull-left
              i.media-object.bold Spin
            .media-body {{item.text}}
        hr.mgn-top-5.mgn-bottom-5(data-ng-if='!$last && player.showAll')
        div(data-ng-if='!player.showAll && $last && !$first').text-center
          a(href='javascript:;',data-ng-click='player.showAll = !player.showAll').btn.btn-link Show more
  td(colspan="2",data-ng-if='player.id && !player.matchup && player.team != "FA"')
  td(colspan="2",data-ng-if='player.id && ((player.matchup && player.matchup.isBye) || player.team == "FA")').text-center
    span.bye-week-indicator -- BYE --
  td(data-ng-if='player.id && player.matchup && !player.matchup.isBye && player.team != "FA"').text-center
    span(data-ng-if='!player.matchup.isHome') @
    span(data-ng-if='player.matchup.isHome') vs
    a(href='javascript:;')
      img(data-ng-src='/img/logos/{{player.matchup.opponent.toLowerCase()}}.svg', title='{{player.matchup.opponent}}').nfl-team-logo
  td(data-ng-if='player.id && player.matchup && !player.matchup.isBye && player.team != "FA"').text-center
    span {{player.matchup.status}}
  | </script>
  .mgn-bottom-10
    .float-left
      img(data-ng-src='{{masterCtrl.member.team.logoUrl}}').media-object.img-rounded.img-responsive.height-75.width-75.bg-color-fff
    .float-left.pad-left-10
      .dropdown
        a(href='javascript:;',title='{{masterCtrl.member.owner.firstName}} {{masterCtrl.member.owner.lastName}}', data-toggle='dropdown').h2.mgn-top-0.dropdown-toggle.float-left.lobster.page-title.mgn-bottom-0
          span {{masterCtrl.member.team.name}}
          span.caret.mgn-left-5
        ul.dropdown-menu.mgn-top-0
          li(data-ng-repeat='member in masterCtrl.members | orderByMemberTeamName', data-ng-class='{true:"active",false:""}[masterCtrl.member.team.id == member.team.id]')
            a(href='javascript:;',data-ng-click='masterCtrl.onMemberSelected(member)').text-no-wrap
              span.float-left
                span {{member.team.name}}
              .float-left.italics.pad-left-5 [{{member.team.abbr}}]
              .clearfix
        .clearfix
      .line-height-20.pad-bottom-5
        span.color-777.text-shadow-eee.mgn-left-10 {{masterCtrl.member.owner.firstName}} {{masterCtrl.member.owner.lastName}}
    h2.float-right.text-muted.mgn-top-0.mgn-bottom-0.page-title {{masterCtrl.member.team.abbr}}
    .clearfix
  .panel.panel-default
    .panel-heading
      .float-left Starters
      .float-right
        i(data-ng-class='{true:"opacity-100",false:"opacity-0"}[rosterCtrl.isWorking]').fa.fa-circle-o-notch.spin-infinite.transition-all-500-ease
      .clearfix
    .panel-body
      table.table.col-md-12.table-bordered.table-condensed.table-striped.table-hover.table-player.mgn-bottom-0
        tr(ng-include="'playerHeader.html'")
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isQB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isRB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isFlex', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isWR', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isLB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isDL', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isDB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isK', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
        tr(data-ng-repeat='player in rosterCtrl.roster.starters | isDST', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, true)')
  .panel.panel-default
    .panel-heading
      .float-left Bench
      .float-right
        i(data-ng-class='{true:"opacity-100",false:"opacity-0"}[rosterCtrl.isWorking]').fa.fa-circle-o-notch.spin-infinite.transition-all-500-ease
      .clearfix
    .panel-body
      table.table.col-md-12.table-bordered.table-condensed.table-striped.table-hover.table-player.mgn-bottom-0
        tr(ng-include="'playerHeader.html'")
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isQB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isRB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isWR', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isLB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isDL', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isDB', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isK', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isP', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isDST', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-repeat='player in rosterCtrl.roster.bench | isIR', ng-include="'playerRow.html'", data-ng-class='rosterCtrl.getAdditionalPlayerClasses(player, false)')
        tr(data-ng-if='rosterCtrl.team.roster.bench.length === 0', ng-include="'vacantBench.html'")