#ip-container.ip-container
  header.ip-header
    h1.ip-logo
      img(src='/img/trophy/trophy_dark.png').ip-inner
    .ip-loader
      svg.ip-inner(width='60px', height='60px', viewbox='0 0 80 80')
        path.ip-loader-circlebg(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
        path#ip-loader-circle.ip-loader-circle(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z', style='stroke-dashoffset: 0px; stroke-dasharray: 192.6168975830078px;')