block header-stylesheets
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Signika|Bevon|Lobster')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/style.min.css')