.btn,.panel,.well,.dropdown-menu,.modal-content,.popover,.breadcrumb,input.form-control,select.form-control,select.form-control+.chosen-container.chosen-container-single .chosen-single,select.form-control+.chosen-container-multi .chosen-choices,.select2-container .select2-choice,.select2-container .select2-choices,.select2-container .select2-choices .select2-search-field input
  border-radius $standard-border-radius