generateTeamColors($t, $c)
  .tag-team-{$t}
    color $c[1]
    background-color $c[0]
    display inline-block
    min-width 45px
  .team-hint-{$t}
    background-color rgba($c[1], .1)


//- NFL Team Colors
$team = 'ARI'
$ari-colors = #870619 #000000 #FFFFFF
generateTeamColors($team,$ari-colors)
$team = 'BUF'
$buf-colors = #00338D #C60C30 #FFFFFF
generateTeamColors($team,$buf-colors)
$team = 'CHI'
$chi-colors = #03202F #DD4814 #FFFFFF
generateTeamColors($team,$chi-colors)
$team = 'CIN'
$cin-colors = #000000 #FB4F14 #FFFFFF
generateTeamColors($team,$cin-colors)
$team = 'CLE'
$cle-colors = #26201E #E34912 #FFFFFF
generateTeamColors($team,$cle-colors)
$team = 'DAL'
$dal-colors = #002244 #8C8B8A #FFFFFF
generateTeamColors($team,$dal-colors)
$team = 'DEN'
$den-colors = #FB4F14 #002244 #FFFFFF
generateTeamColors($team,$den-colors)
$team = 'HOU'
$hou-colors = #02253A #B31B34 #FFFFFF
generateTeamColors($team,$hou-colors)
$team = 'MIN'
$min-colors = #4F2682 #FFC52F #FFFFFF
generateTeamColors($team,$min-colors)
$team = 'NO'
$no-colors  = #D2B887 #000000 #FFFFFF
generateTeamColors($team,$no-colors)
$team = 'OAK'
$oak-colors = #C4C8CB #000000 #FFFFFF
generateTeamColors($team,$oak-colors)
$team = 'PIT'
$pit-colors = #000000 #F2C800 #FFFFFF
generateTeamColors($team,$pit-colors)
$team = 'SF'
$sf-colors  = #AF1E2C #E6BE8A #000000
generateTeamColors($team,$sf-colors)
$team = 'STL'
$stl-colors = #13264B #C9AF74 #FFFFFF
generateTeamColors($team,$stl-colors)
$team = 'WSH'
$wsh-colors = #773141 #FFB612 #FFFFFF
generateTeamColors($team,$wsh-colors)
$team = 'TEN'
$ten-colors = #648FCC #000080 #FF0000 #C0C0C0
generateTeamColors($team,$ten-colors)
$team = 'DET'
$det-colors = #006DB0 #C5C7CF #000000 #FFFFFF
generateTeamColors($team,$det-colors)
$team = 'ATL'
$atl-colors = #BD0D18 #000000 #FFFFFF #DCE0E5
generateTeamColors($team,$atl-colors)
$team = 'BAL'
$bal-colors = #280353 #000000 #D0B240 #FFFFFF
generateTeamColors($team,$bal-colors)
$team = 'CAR'
$car-colors = #000000 #0088CE #A5ACAF #FFFFFF
generateTeamColors($team,$car-colors)
$team = 'JAC'
$jac-colors = #000000 #D0B239 #007198 #FFFFFF
generateTeamColors($team,$jac-colors)
$team = 'MIA'
$mia-colors = #008d97 #015679 #FFFFFF #F5811F
generateTeamColors($team,$mia-colors)
$team = 'NE'
$ne-colors  = #0D254C #D6D6D6 #C80815 #FFFFFF
generateTeamColors($team,$ne-colors)
$team = 'NYG'
$nyg-colors = #192F6B #CA001A #FFFFFF #808080
generateTeamColors($team,$nyg-colors)
$team = 'SD'
$sd-colors  = #08214A #EEC607 #5B92E5 #FFFFFF
generateTeamColors($team,$sd-colors)
$team = 'SEA'
$sea-colors = #06192E #4EAE47 #ACB6BC #FFFFFF
generateTeamColors($team,$sea-colors)
$team = 'TB'
$tb-colors  = #D60A0B #89765F #000000 #FFFFFF #FF7A00
generateTeamColors($team,$tb-colors)
$team = 'PHI'
$phi-colors = #003B48 #000000 #708090 #C0C0C0 #FFFFFF
generateTeamColors($team,$phi-colors)
$team = 'GB'
$gb-colors  = #213D30 #FFCC00
generateTeamColors($team,$gb-colors)
$team = 'IND'
$ind-colors = #003B7B #FFFFFF
generateTeamColors($team,$ind-colors)
$team = 'KC'
$kc-colors  = #B20032 #F2C800
generateTeamColors($team,$kc-colors)
$team = 'NYJ'
$nyj-colors = #0C371D #FFFFFF
generateTeamColors($team,$nyj-colors)