@import "effect1"
@import "variables"
@import "mixins"
@import "bootstrap-overrides"
@import "nfl"

body
  background $body-bg-color
  font-family 'Bevon', sans-serif
a
  color $link-color
  text-decoration none
  &:hover,&:focus,&:active
    color darken($link-color, 15%)
    text-decoration underline

.lobster
  font-family 'Lobster', cursive
.lobster
  text-shadow 1px 1px #eee
  &:hover,&:focus,&:active
    text-decoration none
.page-title
  @media(max-width:500px)
    font-size 1.8em

.ip-header
  background-color $splash-bg-color

.ip-header .ip-loader svg path.ip-loader-circlebg
  stroke $splash-bg-color

.ip-header .ip-loader svg path.ip-loader-circle
  stroke #fff

.header,.footer
  color #fff
  background-color $color-primary
.header
  .title
    line-height 40px
    font-size 1.2em
.header-link
  color #FFF
  &:hover,&:focus,&:active
    color #FFF
    text-decoration none

table.table-player
  thead,tbody
    tr
      td
        line-height 25px
        @media(max-width:500px)
          line-height 20px
          font-size 80%
          * img
            height 22px

.nfl-team-logo
  max-height 25px
  width 25px
  @media(max-width:500px)
    max-height 22px
    max-width 22px

img.main-logo
  margin 0 auto
  height 125px
  background rgba(#fff, .3)
  border 2px solid #888

.text-shadow-eee
  text-shadow 1px 1px #eee
.color-777
  color #777

.width-initial
  width initial!important

$roster-issue-red = #A94442
tr.on-bye-week
  * span.bye-week-indicator
    color $roster-issue-red
tr.free-agent
  * span.player-team
    color $roster-issue-red
.injury-status
  color #6DBB75
  &.P
    color #F0C900
  &.Q
    color #FF8500
  &.O
  &.SSPD
  &.IR
    color red
tr.alert-bad-player
  * .injury-status
    color red!important

@media(max-width:480px)
  .hidden-ss
    display none